.ml-2 {
  margin-left: 2em;
}

.test-results-header {
  padding: 30px;
  margin: auto;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.back-choose {
  padding: 15px;
  display: block;
  width: 200px;
  text-align: center;
  margin: 30px auto;
}

.test-results {
  text-align: center;

  hr {
    width: 80%;
    height: 1px;
    background-color: #2885c4;
    border: 0;
    margin: 1em auto;
  }

  strong {
    margin-bottom: 15px;
  }

  .ar {
    text-align: right;
    margin-right: 10px;
  }

  .al {
    text-align: left;
    margin-left: 10px;
  }

  .final-l {
    margin-top: 15px;
  }
}
