<div class="container color-dark">
  <div class="col">
    <p>Select the decks you want to test</p>
  </div>
</div>
<div class="container color-light decks-container">
  <ul>
    <li>Hiragana A Column</li>
    <li>Hiragana KA Column</li>
    <li>Hiragana SA Column</li>
    <li class="selected-option">Hiragana TA Column</li>
  </ul>
</div>
<div class="container col">    
    <button class="btn" (click)="startTest()">
      <i class="fa fa-award"></i><strong>&nbsp; Start Test</strong>
    </button>
</div>
