<div class="container col-50 color-dark">
  <div class="col">
    <p class="sm">Cutomize your deck</p>
  </div>
  <div class="col">
    <p class="sm">Your current decks</p>
  </div>
</div>
<div class="container color-light">
  <div class="col-50">
    <div class="col">
      <form (submit)="saveChanges($event)">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" class="txt" placeholder="Name your deck" [(ngModel)]="deck.name">
        </div>
        <div class="form-group">
          <label for="description">Description:</label>          
          <textarea name="description" class="txt" id="description" rows="10" [(ngModel)]="deck.description"></textarea>
        </div>
        <hr>
        <div class="line">
          <input type="submit" class="btn btn-success" [value]="buttonLabel">
          <button type="button" *ngIf="inEditMode" (click)="remove()" class="btn btn-rmv">Remove</button>
          <button type="button" *ngIf="inEditMode" (click)="editCards()" class="btn btn-success">Cards</button>
        </div>
      </form>
    </div>
    <div class="small-decks-list">
      <ul>
        <li *ngFor="let item of decks" (click)="selectDeck(item)" [class.selected-option]="item.selected">{{item.name}}</li>
      </ul>
    </div>

  </div>
</div>
