<div class="container color-light">
  <div class="col">
    <p class="sm">Use this application to improve your knowledge in in an Eastern language.</p>
    <p class="sm">Here you can add decks with cards that symbolise what you want to learn. <strong>For example:</strong> add a deck with the first character set of the hiragana, katakana or kanji alphabet.</p>
    <p class="sm">Once you added your decks, it's time to test what you've learned. The test is simple, just select the decks you want to test and inform how long the test lasts, with this done the application will shuffle the pre-registered cards and you will have to guess the correct spelling of the respective symbol.</p>
    <p class="sm"><strong>Hey!</strong> You know that you can also register others oriental symbols like korean or chinese alphabets, right?</p>
  </div>
</div>