/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
$primary: #2E9CE6;
$secondary: #57B3F1;
$dark: #2885c4;
$item: #3FA0E1;
$text: #FFF;
$selected: #003a61;
$error: #be5543;
$correct: #A5f883;
body {
  background: $primary;
  padding: 3em;
  font-family: 'Raleway', 'Arial';
  color: $text;
}

.navbar ul {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
  li {
    display: inline;
    margin-left: 30px;
    a {
      font-size: 1.5em;
    }
  }
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  display: grid;
}

.col {
  padding: .4em 1.3em
}

.color-dark {
  background: $dark;
}

.color-light {
  background: $secondary;
}

input.txt,
textarea.txt {
  border: 0;
  padding: 1em;
  display: block;
  width: 100%;
  margin-bottom: 2em;
  margin-top: .5em;
}

.form-group {
  display: block;
  padding-right: 2em;
}

textarea {
  resize: none;
}

input[type=time] {
  margin: 0 0 0 .8em;
  width: 20%;
  padding: .4em;
}

input.btn,
button.btn {
  border: 0;
  padding: 1em 3em;
  cursor: pointer;
  margin-bottom: 1em;
}

.btn-success {
  background: $correct;
  color: #003a61;
}

.btn-rmv {
  background: $error;
  color: $text;
}

.btn-cancel {
  border: 2px #fff solid !important;
  background: transparent;
  color: $text;
}

.col-50 {
  display: grid;
  grid-template-columns: 50% auto;
}

.right {
  float: right;
}

.error {
  background: $error;
  padding: 1.5em;
  text-align: center;
}

.line {
  input,
  button {
    display: inline;
    margin-right: 10px;
  }
}

.decks-list-container {
  padding: 1em;
  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 50% auto;
    padding-left: 0px;
    li {
      margin: 5px;
      background: $item;
      padding: .5em;
      font-weight: bold;
      cursor: pointer;
    }
    .selected-option {
      background: #003a61;
    }
    .correct {
      background: $primary
    }
    .incorrect {
      background: $error;
    }
  }
}

.small-decks-list {
  font-size: 12px;
  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 33% 33% auto;
    padding-left: 0px;
    li {
      margin: 3px;
      background: $item;
      padding: .3em;
      font-weight: bold;
      cursor: pointer;
    }
    .selected-option {
      background: #003a61;
    }
  }
}

.guess {
  display: block;
  text-align: center;
  font-size: 70px;
}

.answer-list {
  overflow: hidden;
  max-height: 210px;
}
